@model ERCWeb.Models.LcModel

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Id" value="" />
            <div class="form-group">
                <label asp-for="Address" class="control-label">Адрес: </label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateEnd" class="control-label">Дата окончания</label>
                <input asp-for="DateEnd" class="form-control" />
                <span asp-validation-for="DateEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AreaApart" class="control-label">Площадь: </label>
                <input type="number" min="22" asp-for="AreaApart" class="form-control" />
                <span asp-validation-for="AreaApart" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input asp-action="EditId" asp-route-id="" type="submit" value="Отправить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <br />
    <a asp-action="Index">Вернутся </a>
</div>